# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution directories
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System-specific files
.DS_Store
Thumbs.db
